<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nathan Bieber - Portfolio</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
    <header>
        <h1>Welcome to Nathan Bieber's Portfolio</h1>
        <img src="thumbnail_Nathan3.jpg" alt="Nathan's Thumbnail Image">
    </header>

    <main>
        <div class="container">
            <section id="about">
                <h2>About Me</h2>
                <p>
                    I am a graduating senior from the University of Iowa who loves football, fishing, and working out. I will be working at PwC in Minneapolis starting in July as an Associate Digital Assurance & Transparency professional. I am from Dewitt, Iowa, and I am a lifelong Hawkeye's fan.
                </p>
            </section>
            <!-- Additional sections or content can go here -->
        </div>
    </main>

    <!-- Your JavaScript scripts or external script links can go here -->
</body>

</html>
