/* File: static/css/styles.css */

/* Resetting default margin and padding */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Setting black background for the webpage */
body {
    background-color: #000;
    color: #fff; /* Setting text color to white for better readability */
}

/* Styling the header */
header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

/* Styling the main content */
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

/* Styling the thumbnail image */
header img {
    width: calc(33.33%); /* Set width to one-third of the container's width */
    height: auto; /* Allows the image to scale proportionally */
    margin-top: 20px; /* Adds some space between the header text and the image */
}
